
body {
    background: url('../img/university.png') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);    
}

.courses {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);    
}

.course-btn {
    display: block; /* Gombok blokk elemek lesznek */
    width: 100%; /* Teljes szélesség */
    margin-bottom: 10px; /* Térköz a gombok között */
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.course-btn:hover {
    background: rgba(0, 200, 255, 1);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 200, 255, 0.7);
}